
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 5rem;
    text-align: center;
    /* color: white;
    background-color: black; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
}

h2 {
    margin: 4rem;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

p {
    margin: 1rem;
}

li {
    margin: 1rem;
    margin-left: 3rem;
}

blockquote {
    margin-left: 50%;
    /* color: white; */
    /* background-color: lightgray; */
    padding: 10px;
}

table {
    margin: 20px;
    border-collapse: collapse;
}


td {
    padding: 20px;
    border-bottom: 1px solid black;
}

em {
    font-family: Georgia, 'Times New Roman', Times, serif
}

a {
    text-decoration-style: dotted;
}

a:visited, a:link {
    color: black;
}

img {
    float: right;
    width: 350px;
    height: auto;
}

sup {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
#navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    line-height: 1.4;
    align-items: center;
    max-width: 800px;
}

.footnotes {
    margin-top: 200px;
}
