* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.container {
    align-items: center;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1 {
    margin: 5rem;
    text-align: center;
}

h2 {
    margin: 4rem;
}

p {
    margin: 2rem;
}

li {
    margin: 1rem;
    margin-left: 3rem;
}

blockquote {
    margin-left: 50%;
}

table {
    margin: 20px;
}

td {
    padding: 20px;
    border-bottom: 1px solid black;
}

img {
    float: right;
    width: 350px;
    height: auto;
}

.footnotes {
    margin-top: 200px;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
 [aria-describedby="footnote-label"] {
    counter-increment: footnotes; /* 1 */
    text-decoration: none; /* 2 */
    color: inherit; /* 2 */
    cursor: default; /* 2 */
    outline: none; /* 2 */
  }
  
  /**
   * Actual numbered references
   * 1. Display the current state of the counter (e.g. `[1]`)
   * 2. Align text as superscript
   * 3. Make the number smaller (since it's superscript)
   * 4. Slightly offset the number from the text
   * 5. Reset link styles on the number to show it's usable
   */
  [aria-describedby="footnote-label"]::after {
    content: '[' counter(footnotes) ']'; /* 1 */
    vertical-align: super; /* 2 */
    font-size: 0.5em; /* 3 */
    margin-left: 2px; /* 4 */
    color: blue; /* 5 */
    text-decoration: underline; /* 5 */
    cursor: pointer; /* 5 */
  }
  
  /**
   * Resetting the default focused styles on the number
   */
  [aria-describedby="footnote-label"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
  }
  
  [aria-label="Back to content"] {
    font-size: 0.8em;
  }
  
  /**
   * Highlight target note
   */
  footer :target {
    background: yellow;
  }
  
  /**
   * Visually hidden yet accessible content
   */
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    visibility: hidden;
    opacity: 0;
  }
  
  .p {
    text-align: center;
    font-size: .75em;
    padding-top: 150px;
  }
  